################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.user
/xLiAd.ProjectFactory.Core/bin/Debug/netstandard2.0
/xLiAd.ProjectFactory.Core/obj
/xLiAd.ProjectFactory.Core.Test/bin/Debug/net461
/xLiAd.ProjectFactory.Core.Test/obj
/xLiAd.ProjectFactory.Winform/bin/Debug
/xLiAd.ProjectFactory.Winform/obj/Debug
/xLiAdProjectTemplate.Entities/bin/Debug/netcoreapp3.1
/xLiAdProjectTemplate.Entities/obj
/xLiAdProjectTemplate.Infrastructure/bin/Debug/netcoreapp3.1
/xLiAdProjectTemplate.Infrastructure/obj
/xLiAdProjectTemplate.Services/bin/Debug/netcoreapp3.1
/xLiAdProjectTemplate.Services/obj
/xLiAdProjectTemplate.WebApp/bin/Debug/netcoreapp3.1
/xLiAdProjectTemplate.WebApp/obj
/packages/Newtonsoft.Json.12.0.1
/xLiAd.ProjectFactory.Winform/obj/Release
/xLiAd.ProjectFactory.WebApp/bin/Debug/netcoreapp3.1
/xLiAd.ProjectFactory.WebApp/obj
/xLiAd.ProjectFactory.Core/bin/Release/netstandard2.0
/xLiAd.ProjectFactory.WebApp/bin
